/* Resize bar, hover 的时候高亮 */
div.layout__resize:not(layout__resize--lr):hover::after {
    height: 3px;
    background: var(--b3-theme-primary);
}

div.layout__resize--lr {
    width: 3px;
    margin: 0 -3px 0 0;
}

div.layout__resize--lr:hover {
    background: var(--b3-theme-primary);
}


/* 标签页空白部分的颜色和 toolbar 部分一致 */
#layouts .layout__center div[data-type="wnd"]>div:first-child>ul.layout-tab-bar--readonly {
    background: var(--b3-toolbar-background);
}


/* 左右 Docker 面板 */
div.layout-tab-container {
    background: var(--b3-theme-background);
}

#dockLeft,
#dockRight,
#status {
    background: var(--b3-toolbar-background);
}

/* 反链面板 */
.backlinkList>ul>li.b3-list-item {
    background: var(--b3-theme-surface-light);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    /* outline: solid 1px var(--b3-theme-primary-lighter); */
}
.backlinkMList>ul>li.b3-list-item {
    background: var(--b3-theme-surface-light);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    /* outline: solid 1px var(--b3-theme-primary-lighter); */
}

/* Dialog 对话框 */
.b3-dialog__container {
    background: var(--b3-theme-background);
}

/* Block icon 标题栏 */
.block__icons {
    background: var(--b3-toolbar-background);
}