/* Resize bar, hover 的时候高亮 */
div.layout__resize:not(layout__resize--lr):hover::after {
    height: 3px;
    background: var(--b3-theme-primary);
}

div.layout__resize--lr {
    width: 3px;
    margin: 0 -3px 0 0;
}

div.layout__resize--lr:hover {
    background: var(--b3-theme-primary);
}


/* 标签页空白部分的颜色和 toolbar 部分一致 */
#layouts .layout__center div[data-type="wnd"]>div:first-child>ul.layout-tab-bar--readonly {
    background: var(--b3-toolbar-background);
}


/* 左右 Docker 面板 */
div.layout-tab-container {
    background: var(--b3-theme-background);
}

#dockLeft,
#dockRight,
#status {
    background: var(--b3-toolbar-background);
}

/* 反链面板 */
.backlinkList>ul>li.b3-list-item {
    background: var(--b3-theme-surface-light);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    /* outline: solid 1px var(--b3-theme-primary-lighter); */
}

.backlinkMList>ul>li.b3-list-item {
    background: var(--b3-theme-surface-light);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    /* outline: solid 1px var(--b3-theme-primary-lighter); */
}


/* Bookmark */

div.sy__bookmark li.b3-list-item[data-type="NodeDocument"] {
    color: var(--font-keyword);
}
div.sy__bookmark li.b3-list-item[data-type="NodeDocument"]>span.b3-list-item__text {
    color: var(--font-keyword);
}


div.sy__bookmark li.b3-list-item[data-subtype="h1"] {
    color: var(--font-keyword);
}
div.sy__bookmark li.b3-list-item[data-subtype="h1"]>span.b3-list-item__text {
    color: var(--font-keyword);
}

div.sy__bookmark li.b3-list-item[data-subtype="h2"],
div.sy__bookmark li.b3-list-item[data-subtype="h3"] {
    color: var(--font-func);
}
div.sy__bookmark li.b3-list-item[data-subtype="h2"]>span.b3-list-item__text,
div.sy__bookmark li.b3-list-item[data-subtype="h3"]>span.b3-list-item__text {
    color: var(--font-func);
}

div.sy__bookmark li.b3-list-item[data-subtype="h4"] {
    color: var(--font-func);
}



/* Dialog 对话框 */
.b3-dialog__container {
    background: var(--b3-theme-background);
}

/* Block icon 标题栏 */
.block__icons {
    background: var(--b3-toolbar-background);
}

/* '/'弹出分栏， Copy from savor theme*/
.hint--menu {
    animation: menu 0.2s ease-in-out;
    box-shadow: var(--b3-menu-shadow);
    background-color: var(--b3-theme-background);
    padding: 5px;
    border: none;
    min-width: 50vw;
}

.hint--menu>div {
    columns: 50px 4;
    column-rule: 1px outset var(--b3-border-color);
}

.hint--menu .b3-list-item {
    margin: 0 !important;
    width: 100% !important;
}

.hint--menu .b3-list-item__text {
    margin: 0 0 0 8px;
    color: var(--b3-theme-on-background);
}

.hint--menu .b3-list-item__graphic {
    margin: 0px;
    width: 10px;
    height: 12px;
    border: 1px solid var(--b3-border-color);
}

.hint--menu>.b3-list-item--two {
    margin: 0;
}

@media screen and (min-width: 1280px) {
    .hint--menu .b3-list-item--two {
        width: calc(25% - 5px);
    }

    .hint--menu {
        max-height: 412px !important;
    }
}

@media screen and (max-width: 1280px) {
    .hint--menu>div {
        columns: unset;
    }

    .hint--menu {
        columns: unset;
        min-width: unset !important;
    }
}

.protyle-hint.hint--menu:has(>.emojis) {
    min-width: 372px;
    width: 372px !important;
}

.protyle-hint.hint--menu>.emojis {
    column-span: all;
    width: 360px !important;
}