/* 引用块 */
:root {
    --background-highlight: var(--b3-theme-surface);
    --block-margin: 5px 0px;
}

/* 代码块 */
.protyle-wysiwyg div.code-block {
    padding: 0;
    margin: var(--block-margin);
    background-color: var(--b3-theme-surface-lighter);
}

/* 引用块 */
.b3-typography blockquote,
.b3-typography .bq,
.protyle-wysiwyg blockquote,
.protyle-wysiwyg .bq {
    background-color: var(--b3-theme-surface-lighter);
    border-radius: 0 !important;
    border-left: 6px solid var(--b3-theme-primary) !important;
    margin: var(--block-margin);
    padding: 2px 7px;
}

/* 超级块 */
.protyle-wysiwyg div[data-type="NodeSuperBlock"] {
    padding: 3px 0px !important;
    /* border: 1px solid var(--b3-theme-secondary); */
    /* background-color: var(--b3-theme-surface-lighter); */
    outline: 1.5px dashed var(--b3-border-color);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* 嵌入块 */
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
    margin: 0.75rem 0px;
    box-shadow: 0px 0px 5px 2px var(--b3-theme-primary-lighter);
    background-color: var(--b3-theme-surface-lightest);
    /* border: 1px solid var(--b3-theme-primary); */
    /* max-width: 100%; */
}

/* Copy from Tsundoku
 */
.protyle-wysiwyg [data-node-id].render-node[data-type='NodeBlockQueryEmbed']>.protyle-wysiwyg__embed {
    border-top: 2px dashed var(--font-keyword);
    position: relative;
    margin: 5px 0px;
    padding-top: 5px;
}

/* 被选中的块高亮 */

.protyle-wysiwyg--hl,
.protyle-wysiwyg--hl .hljs {
    background-color: var(--background-highlight) !important;
}

.protyle-wysiwyg--hl .protyle-linenumber__rows,
.protyle-wysiwyg--select .protyle-linenumber__rows {
    background-color: var(--b3-theme-background-lightest) !important;
}

.protyle-wysiwyg--select,
.protyle-wysiwyg--select .hljs {
    background-color: var(--background-highlight) !important;
}