/* 代码块 */
:root {
    --codeblock-linenumber-width: 2.5rem;
    --background-highlight: var(--b3-theme-surface);
    --block-margin: 5px 0px;
}

.protyle-wysiwyg div.code-block {
    padding: 0;
    margin: var(--block-margin);
    background-color: var(--b3-theme-surface-lighter);
}

.b3-typography pre>code,
.protyle-wysiwyg div.code-block>.hljs {
    background-color: var(--b3-theme-surface-lighter);
    border-radius: 0px;
}

div.code-block>.protyle-linenumber__rows {
    width: var(--codeblock-linenumber-width);
}

div.code-block>.protyle-linenumber {
    margin-left: var(--codeblock-linenumber-width);
}

.protyle-linenumber__rows>span::before {
    margin-left: 0.2rem;
    margin-right: 0.3rem;
}