/* 双链 Refs */
:root {
    --bracket-color: #7b598e;
}

span[data-type*="block-ref"] span[data-type="a"] {
    color: #c2abec;
}

.protyle-wysiwyg [data-node-id] span[data-type="a"] {
    border-bottom: 0.05em dashed;
    padding-bottom: 0.05em;
}

.protyle-wysiwyg [data-node-id] span[data-type~="block-ref"]::before {
    content: "[[#";
    color: var(--custom-ref-link-mark-color);
    display: inline-block;
    text-align: center;
    margin: 0 0 0 0.125em;
    padding: 0;
    position: inherit;
    font-size: 1em;
}

.protyle-wysiwyg [data-node-id] span[data-type~="block-ref"]::after {
    content: "]]";
    color: var(--custom-ref-link-mark-color);
    display: inline-block;
    text-align: center;
    margin: 0 0.125em 0 0;
    padding: 0;
    position: inherit;
    font-size: 1em;
}

li.b3-list-item > span.b3-list-item__text > span[data-type~="block-ref"]::before {
    content: "[[";
    color: var(--custom-ref-link-mark-color);
}
li.b3-list-item > span.b3-list-item__text > span[data-type~="block-ref"]::after {
    content: "]]";
    color: var(--custom-ref-link-mark-color);
}


.protyle-wysiwyg [data-node-id] .def--mark {
    background-color: var(--b3-theme-background);
    border-color: var(--b3-theme-secondary);
    border-width: 3px;
    padding: 2px;
    border-style: solid;
}

/* tag */
span[data-type="tag"]::before,
span[data-type="tag"]::after {
    content: "#";
}
